<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ meal?.strMeal || 'Meal Details' }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="meal">
    <div class="image-container">
        <img [src]="meal.strMealThumb" alt="{{ meal.strMeal }}" class="meal-image" />
        <div class="gradient-overlay"></div>
    </div>
    <div class="px-4 py-6">
        <h1 class="text-3xl font-bold mb-2">{{ meal.strMeal }}</h1>
        <p><strong>Category:</strong> {{ meal.strCategory }}</p>
        <p><strong>Area:</strong> {{ meal.strArea }}</p>
        <p><strong>Instructions:</strong></p>
        <p class="text-justify">{{ meal.strInstructions }}</p>
        <p *ngIf="meal.strTags"><strong>Tags:</strong> {{ meal.strTags }}</p>
        <!-- 
        <h2 class="text-2xl font-bold mt-4">Ingredients</h2>
        <ul class="list-disc list-inside">
            <li *ngFor="let ingredient of ingredients">{{ ingredient }}</li>
        </ul> -->
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar transparent>
        <button class="bg-lime-500 w-full py-3" (click)="openModal()">See ingredients</button>
    </ion-toolbar>
</ion-footer>

<ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-title>Ingredients</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="closeModal()">
                        <ion-icon name="close-outline"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <div class="p-4">
                <h2 class="text-2xl font-bold mb-4">{{ meal?.strMeal }}</h2>
                <ul class="list-disc list-inside">
                    <li *ngFor="let ingredient of ingredients">{{ ingredient }}</li>
                </ul>
            </div>
        </ion-content>
    </ng-template>
</ion-modal>
