<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Search History
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="errorMessage" class="text-red-800 mt-4 text-center">
        {{ errorMessage }}
    </div>

    <ion-list *ngIf="!errorMessage && searchHistory.length > 0">
        <ion-item *ngFor="let term of searchHistory" (click)="search(term)">
            {{ term }}
        </ion-item>
    </ion-list>

    <div *ngIf="!errorMessage && searchHistory.length === 0" class="text-center mt-12">
        No search history found.
    </div>


</ion-content>

<ion-footer>
    <ion-toolbar color="transparent">
        <ion-button expand="full" class="px-2" color="danger" (click)="clearHistory()">
            <span class="font-bold">
                Clear History
            </span>

        </ion-button>
    </ion-toolbar>
</ion-footer>
