ion-fab-button, ion-button {
  --background: #bef264;
  --background-activated: #d9f99d;
  --background-hover: #a3e635;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: black;
}