<ion-header>
    <ion-toolbar>
        <ion-title class="text-center font-dcandamil text-2xl mt-1">
            Mealz
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="px-4 pt-4">
        <div class="relative mb-4 w-full">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M12.9 14.32a8 8 0 111.42-1.42l4.58 4.58a1 1 0 01-1.42 1.42l-4.58-4.58zM8 14A6 6 0 108 2a6 6 0 000 12z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
            <input [(ngModel)]="searchTerm" (input)="onSearchChange()"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5"
                placeholder="Meal name">
        </div>
        <ion-select
            [(ngModel)]="selectedCategory"
            (ionChange)="onCategoryChange()"
            placeholder="Beef"
            label="Search by category"
            class="w-full rounded-lg text-black px-4 bg-white">
            <ion-select-option
                *ngFor="let category of categories"
                [value]="category.strCategory">
                {{ category.strCategory }}
            </ion-select-option>
        </ion-select>

        <div *ngIf="errorMessage" class="text-red-800 mt-4 text-center">
            {{ errorMessage }}
        </div>
    </div>


    <ion-grid *ngIf="!errorMessage && meals.length > 0">
        <ion-row>
            <ion-col size="12" size-md="6" size-lg="4" *ngFor="let meal of meals">
                <ion-card>
                    <img [src]="meal.strMealThumb" alt="{{ meal.strMeal }}">
                    <ion-card-header>
                        <ion-card-title>{{ meal.strMeal }}</ion-card-title>
                        <ion-card-subtitle>{{ meal.category }}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-button [routerLink]="['/details', meal.idMeal]" expand="full">View Details</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="!errorMessage && meals.length === 0" class="text-center mt-12">
        No meals found.
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="goToHistory()">
            <ion-icon name="time"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
